<a href="https://colab.research.google.com/github/Tanjul5/MOVIE-RECOMMENDER-SYSTEM/blob/main/Movie_REcommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
#Load dataset to a dataframe

Movies=pd.read_csv('/content/drive/MyDrive/tmdb_5000_movies.csv.zip')
Credits=pd.read_csv('/content/drive/MyDrive/tmdb_5000_credits.csv.zip')

In [ ]:
Movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
Credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

'title is a comman feature in both datasets. let's merge it both datasets

In [ ]:
dataset=Movies.merge(Credits,on='title')

In [ ]:
#check shape of new dataset
print ('shape of dataset is {}'.format (dataset.shape))

shape of dataset is (4809, 23)

In [ ]:
#check orignal shape
print ('shape of movies dataset is {}'.format (Movies.shape))

print('shape of credits dataset is {}'.format (Credits.shape))

shape of movies dataset is (4803, 20)
shape of credits dataset is (4803, 4)

In [ ]:
dataset.head(2)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 23 columns]

In [ ]:
##require columns for model
#title
#genres
#id
#keywords (it is used for tags)
#overview
#cast
#crew

In [ ]:
#fetching require columns
dataset=dataset[['movie_id','title','overview','genres','keywords','cast','crew']]

In [ ]:
dataset.head(2)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 7 columns]

In [ ]:
dataset.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [ ]:
dataset.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
dataset.duplicated().sum()

0

In [ ]:
obj=dataset.iloc[0].genres
obj

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
#[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

#fetching Action,Advanture,Fantasy,Science Fiction

In [ ]:
#
import ast
def convert(obj):
  L= []
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [ ]:
convert(obj)

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [ ]:
dataset['genres']=dataset['genres'].apply (convert)

In [ ]:
dataset.head(2)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 7 columns]

In [ ]:
dataset['keywords']=dataset['keywords'].apply (convert)

In [ ]:
dataset.head(1)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...

[1 rows x 7 columns]

In [ ]:
obj2=dataset.iloc[0].cast
obj2

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [ ]:
def convert3 (obj2):
  L=[]
  counter=0
  for i in ast.literal_eval(obj2):
    if counter<3:
      L.append(i['name'])
    counter+=1
  return L

In [ ]:
convert3 (obj2)

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [ ]:
dataset['cast']=dataset['cast'].apply (convert3)

In [ ]:
dataset

      movie_id  ...                                               crew
0        19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1          285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3        49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4        49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...        ...  ...                                                ...
4804      9367  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805     72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806    231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807    126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808     25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4806 rows x 7 columns]

In [ ]:
obj3=dataset.iloc[0].crew

In [ ]:
#fetch director

def fetch_director(obj3):
    L = []
    for i in ast.literal_eval(obj3):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [ ]:
dataset['crew']=dataset['crew'].apply(fetch_director)

In [ ]:
dataset

      movie_id  ...                                      crew
0        19995  ...                           [James Cameron]
1          285  ...                          [Gore Verbinski]
2       206647  ...                              [Sam Mendes]
3        49026  ...                       [Christopher Nolan]
4        49529  ...                          [Andrew Stanton]
...        ...  ...                                       ...
4804      9367  ...                        [Robert Rodriguez]
4805     72766  ...                            [Edward Burns]
4806    231617  ...                             [Scott Smith]
4807    126186  ...                             [Daniel Hsia]
4808     25975  ...  [Brian Herzlinger, Jon Gunn, Brett Winn]

[4806 rows x 7 columns]

In [ ]:
dataset['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [ ]:
dataset['overview'] = dataset['overview'].apply(lambda x:x.split())

In [ ]:
#remove space between words so we can create tags 
dataset['genres']=dataset['genres'].apply (lambda x:[i.replace("","") for i in x])
dataset['keywords']=dataset['keywords'].apply (lambda x:[i.replace("","") for i in x])
dataset['cast']=dataset['cast'].apply (lambda x:[i.replace("","") for i in x])
dataset['crew']=dataset['crew'].apply (lambda x:[i.replace("","") for i in x])

In [ ]:
dataset['tags']= dataset['overview'] + dataset['keywords'] + dataset['genres'] + dataset['cast'] + dataset['crew']

In [ ]:
dataset

      movie_id  ...                                               tags
0        19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1          285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2       206647  ...  [A, cryptic, message, from, Bondâ€™s, past, send...
3        49026  ...  [Following, the, death, of, District, Attorney...
4        49529  ...  [John, Carter, is, a, war-weary,, former, mili...
...        ...  ...                                                ...
4804      9367  ...  [El, Mariachi, just, wants, to, play, his, gui...
4805     72766  ...  [A, newlywed, couple's, honeymoon, is, upended...
4806    231617  ...  ["Signed,, Sealed,, Delivered", introduces, a,...
4807    126186  ...  [When, ambitious, New, York, attorney, Sam, is...
4808     25975  ...  [Ever, since, the, second, grade, when, he, fi...

[4806 rows x 8 columns]

In [ ]:
new_df=dataset[['movie_id','title','tags']]

In [ ]:
new_df

      movie_id  ...                                               tags
0        19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1          285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2       206647  ...  [A, cryptic, message, from, Bondâ€™s, past, send...
3        49026  ...  [Following, the, death, of, District, Attorney...
4        49529  ...  [John, Carter, is, a, war-weary,, former, mili...
...        ...  ...                                                ...
4804      9367  ...  [El, Mariachi, just, wants, to, play, his, gui...
4805     72766  ...  [A, newlywed, couple's, honeymoon, is, upended...
4806    231617  ...  ["Signed,, Sealed,, Delivered", introduces, a,...
4807    126186  ...  [When, ambitious, New, York, attorney, Sam, is...
4808     25975  ...  [Ever, since, the, second, grade, when, he, fi...

[4806 rows x 3 columns]

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d Action Adventure Fantasy Science Fiction Sam Worthington Zoe Saldana Sigourney Weaver James Cameron'

In [ ]:
new_df['tags']=new_df['tags'].apply (lambda x:x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d action adventure fantasy science fiction sam worthington zoe saldana sigourney weaver james cameron'

# **VECTORIZATION**

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer


cv = CountVectorizer(max_features=5000,stop_words='english')

vector = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vector.shape

(4806, 5000)

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '16th',
 '17',
 '17th',
 '18',
 '18th',
 '19',
 '1930s',
 '1940s',
 '1950s',
 '1960s',
 '1970s',
 '1980s',
 '19th',
 '20',
 '200',
 '20th',
 '21st',
 '24',
 '25',
 '30',
 '3d',
 '40',
 '50',
 '60',
 '60s',
 '70',
 'aaron',
 'abandoned',
 'abducted',
 'abigail',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abraham',
 'abroad',
 'abuse',
 'abusive',
 'academy',
 'accent',
 'accept',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'account',
 'accountant',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adams',
 'adaptation',
 'addict',
 'addicted',
 'addiction',
 'adolescence',
 'adopted',
 'adoption',
 'adopts',
 'adrian',
 'adrien',
 'adult',
 'adultery',
 'adulthood',
 'adults',
 'advantage',
 'adventure',
 'adventures',
 'advertising',
 'advice',
 'affair',
 'affairs',
 'affection',
 'affections',
 'affleck',
 'afghanistan',
 'africa',
 'african',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'age',
 'aged',
 'agency',
 'agenda',
 'agent',
 'agents',
 'ages',
 'aggression',
 'aggressive',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'aid',
 'aidan',
 'aided',
 'aids',
 'ailing',
 'air',
 'aircraft',
 'airplane',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'alba',
 'albert',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alec',
 'alejandro',
 'alex',
 'alexander',
 'alexis',
 'alfred',
 'ali',
 'alice',
 'alicia',
 'alien',
 'aliens',
 'alike',
 'alison',
 'alive',
 'allan',
 'allen',
 'alliance',
 'allied',
 'allies',
 'allison',
 'allow',
 'allows',
 'ally',
 'alongside',
 'alter',
 'alternate',
 'alternative',
 'alyssa',
 'alzheimer',
 'amanda',
 'amateur',
 'amazing',
 'amazon',
 'ambassador',
 'amber',
 'ambition',
 'ambitious',
 'ambulance',
 'ambush',
 'america',
 'american',
 'americans',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amusement',
 'amy',
 'ana',
 'analyst',
 'anarchic',
 'ancient',
 'anderson',
 'andie',
 'andrew',
 'andrews',
 'android',
 'andrÃ©',
 'andy',
 'ang',
 'angel',
 'angela',
 'angeles',
 'angelina',
 'anger',
 'angry',
 'animal',
 'animals',
 'animated',
 'animation',
 'aniston',
 'ann',
 'anna',
 'anne',
 'annette',
 'annie',
 'anniversary',
 'annual',
 'anonymous',
 'answer',
 'answers',
 'ant',
 'anthology',
 'anthony',
 'anthropomorphism',
 'anti',
 'antics',
 'antoine',
 'anton',
 'antonio',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'appear',
 'appears',
 'apple',
 'applegate',
 'appointed',
 'apprentice',
 'approach',
 'approaches',
 'april',
 'arab',
 'arch',
 'archaeologist',
 'archer',
 'architect',
 'arctic',
 'area',
 'arena',
 'argument',
 'arise',
 'aristocrat',
 'arkin',
 'arm',
 'armed',
 'armored',
 'arms',
 'armstrong',
 'army',
 'arnold',
 'arquette',
 'arranged',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrives',
 'arriving',
 'arrow',
 'art',
 'arthur',
 'article',
 'artificial',
 'artist',
 'artists',
 'arts',
 'ashley',
 'ashton',
 'asia',
 'asian',
 'aside',
 'ask',
 'asked',
 'asks',
 'aspirations',
 'aspiring',
 'assassin',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assistant',
 'assumes',
 'asteroid',
 'astronaut',
 'astronauts',
 'asylum',
 'athlete',
 'atkins',
 'atlantic',
 'atomic',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempted',
 'attempting',
 'attempts',
 'attending',
 'attends',
 'attention',
 'attitude',
 'attorney',
 'attract',
 'attracted',
 'attraction',
 'attractive',
 'audience',
 'audiences',
 'audition',
 'audrey',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'austria',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'autobiographical',
 'automobile',
 'avenge',
 'average',
 'avoid',
 'awaits',
 'awakens',
 'award',
 'away',
 'awry',
 'aykroyd',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backgrounds',
 'bacon',
 'bad',
 'bag',
 'bahamas',
 'bail',
 'bailey',
 'baker',
 'balance',
 'baldwin',
 'bale',
 'ball',
 'ballet',
 'baltimore',
 'bana',
 'band',
 'banderas',
 'bandits',
 'bangkok',
 'banished',
 'bank',
 'banker',
 'banks',
 'bar',
 'barbara',
 'bardem',
 'barely',
 'bargained',
 'barn',
 'barnes',
 'barney',
 'baron',
 'barrier',
 'barry',
 'barrymore',
 'bars',
 'base',
 'baseball',
 'based',
 'basement',
 'basinger',
 'basketball',
 'bassett',
 'bat',
 'bateman',
 'bates',
 'batman',
 'battle',
 'battlefield',
 'battles',
 'battling',
 'bay',
 'beach',
 'bean',
 'bear',
 'bears',
 'beast',
 'beasts',
 'beat',
 'beating',
 'beatty',
 'beautiful',
 'beauty',
 'becker',
 'beckinsale',
 'becky',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'beings',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'believing',
 'bell',
 'bella',
 'belle',
 'bello',
 'beloved',
 'belt',
 'ben',
 'beneath',
 'benicio',
 'bening',
 'benjamin',
 'bennett',
 'bent',
 'bentley',
 'berg',
 'bergman',
 'berlin',
 'bernal',
 'bernie',
 'berry',
 'best',
 'bet',
 'beth',
 'betrayal',
 'betrayed',
 'bettany',
 'bette',
 'better',
 'betty',
 'beverly',
 'bible',
 'biblical',
 'biel',
 'big',
 'bigger',
 'biggest',
 'biggs',
 'bike',
 'biker',
 'bikini',
 'billionaire',
 'billy',
 'biography',
 'biological',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarre',
 'black',
 'blackmail',
 'blade',
 'blair',
 'blake',
 'blame',
 'blanchett',
 'blind',
 'blindness',
 'block',
 'blonde',
 'blood',
 'bloodthirsty',
 'bloody',
 'bloom',
 'blow',
 'blue',
 'blunt',
 'board',
 'boarding',
 'boat',
 'bob',
 'bobby',
 'bodies',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bombing',
 'bond',
 'bonds',
 'bone',
 'bonham',
 'bonnie',
 'booby',
 'book',
 'books',
 'booth',
 'border',
 'bored',
 'boredom',
 'boring',
 'born',
 'boss',
 'boston',
 'bosworth',
 'bound',
 'boundaries',
 'bounty',
 'bowling',
 'bowman',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyd',
 'boyfriend',
 'boyle',
 'boys',
 'brad',
 'bradford',
 'bradley',
 'brain',
 'branagh',
 'brand',
 'brandon',
 'bratt',
 'brave',
 'bravery',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breaking',
 'breaks',
 'brenda',
 'brendan',
 'brent',
 'breslin',
 'brett',
 'brian',
 'bride',
 'bridge',
 'bridges',
 'bridget',
 'brie',
 'brief',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britt',
 'brittany',
 'broadbent',
 'broadcast',
 'broadway',
 'broderick',
 'brody',
 'broke',
 'broken',
 'broker',
 'brolin',
 'brooke',
 'brooklyn',
 'brooks',
 'brosnan',
 'brothel',
 'brother',
 'brothers',
 'brought',
 'brown',
 'bruce',
 'bruno',
 'brutal',
 'brutality',
 'brutally',
 'bryan',
 'buck',
 'buddies',
 'buddy',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bullock',
 'bully',
 'bullying',
 'bumbling',
 'bunny',
 'burglar',
 'buried',
 'burke',
 'burned',
 'burning',
 'burns',
 'burt',
 'burton',
 'bus',
 'buscemi',
 'bush',
 'business',
 'businessman',
 'bust',
 'busy',
 'butler',
 'buy',
 'byrne',
 'caan',
 'cabin',
 'cable',
 'caesar',
 'cage',
 'caine',
 'cairo',
 'cal',
 'california',
 'called',
 'calls',
 'calvin',
 'camcorder',
 'came',
 'camera',
 'cameraman',
 'cameras',
 'cameron',
 'camp',
 'campaign',
 'campbell',
 'camping',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candidate',
 'candy',
 'cannibal',
 'cannon',
 'capable',
 'capital',
 'capitalism',
 'captain',
 'captive',
 'capture',
 'captured',
 'captures',
 'car',
 'card',
 'care',
 'career',
 'carefree',
 'carell',
 'caretaker',
 'carey',
 'cargo',
 'caribbean',
 'carl',
 'carla',
 'carlo',
 'carlos',
 'carmen',
 'carnival',
 'carol',
 'carolina',
 'caroline',
 'carpenter',
 'carradine',
 'carrey',
 'carrie',
 'carrier',
 'carroll',
 'carry',
 'carrying',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'cary',
 'case',
 'casey',
 'cash',
 'casino',
 'cassidy',
 'cast',
 'castle',
 'casual',
 'cat',
 'cataclysm',
 'catastrophe',
 'catch',
 'catches',
 'cate',
 'catherine',
 'catholic',
 'catholicism',
 'cattle',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cavalry',
 'cave',
 'caviezel',
 'cedric',
 'celebrate',
 'celebrated',
 'celebration',
 'celebrity',
 'cell',
 'cemetery',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 'century',
 'ceremony',
 'certain',
 'chad',
 'chain',
 'chair',
 'challenge',
 'challenged',
 'challenges',
 'chambers',
 'champion',
 'championship',
 'chan',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'channing',
 'chaos',
 'chaotic',
 'chapter',
 'character',
 'characters',
 'charge',
 'charged',
 'charismatic',
 'charles',
 'charlie',
 'charlize',
 'charlotte',
 'charm',
 'charming',
 'chase',
 'chased',
 'chases',
 'chat',
 'chauffeur',
 'chazz',
 'cheadle',
 'cheating',
 'cheerleader',
 'chef',
 'chelsea',
 'chemical',
 'chen',
 'cher',
 'cheryl',
 'chestnut',
 'chevy',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childhood',
 'children',
 'chilling',
 'china',
 'chinese',
 'chip',
 'chloÃ«',
 'chocolate',
 'choice',
 'choices',
 'choir',
 'choose',
 'chopra',
 'chosen',
 'chow',
 'chris',
 'christ',
 'christensen',
 'christian',
 'christianity',
 'christina',
 'christine',
 'christmas',
 'christoph',
 'christopher',
 'chronicle',
 'chronicles',
 'chuck',
 'church',
 'cia',
 'cigarette',
 'cillian',
 'cinema',
 'cinematic',
 'circle',
 'circuit',
 'circumstances',
 'circus',
 'citizens',
 'city',
 'civil',
 'civilization',
 'claim',
 'claims',
 'claire',
 'clan',
 'clark',
 'clarke',
 'clash',
 'class',
 'classes',
 'classic',
 'classmate',
 'classmates',
 'classroom',
 'claude',
 'claudia',
 'claus',
 'clay',
 'clean',
 'clear',
 'clerk',
 'client',
 'cliff',
 'climate',
 'climbing',
 'clint',
 'clive',
 'clock',
 'clone',
 'cloning',
 'clooney',
 'close',
 'closer',
 'closet',
 'clown',
 'club',
 'clues',
 'clutches',
 'coach',
 'coal',
 'coast',
 'cocaine',
 'code',
 'cody',
 'coen',
 'coffin',
 'cohen',
 'col',
 'cold',
 'cole',
 'coleman',
 'colin',
 'collapse',
 'colleague',
 'colleagues',
 'collect',
 'collection',
 'collector',
 'college',
 'collette',
 'collide',
 'collins',
 'collision',
 'colonel',
 'colony',
 'color',
 'colorado',
 'colorful',
 'columbus',
 'coma',
 'combat',
 'come',
 'comeback',
 'comedian',
 'comedic',
 'comedy',
 'comes',
 'comet',
 'comic',
 'comics',
 'coming',
 'command',
 'commander',
 'commando',
 'commercial',
 'commit',
 'commitment',
 'committed',
 'common',
 'communication',
 'community',
 'companion',
 'company',
 'compete',
 'competing',
 'competition',
 'complete',
 'completely',
 'complex',
 'complicated',
 'complications',
 'compulsive',
 'computer',
 'conan',
 'concentration',
 'concert',
 'condition',
 'confederate',
 'conference',
 'confession',
 'confidence',
 'confident',
 'conflict',
 'confront',
 'confronted',
 'confused',
 'congress',
 'connected',
 'connection',
 'connell',
 'connelly',
 'connery',
 'connie',
 'connor',
 'conquer',
 'conrad',
 'conscience',
 'consequences',
 'conservative',
 'conspiracy',
 'constant',
 'constantly',
 'construction',
 'contact',
 'contain',
 'contemporary',
 'contend',
 'contest',
 'continue',
 'continues',
 'contract',
 'control',
 'controlled',
 'controlling',
 'controversial',
 'convention',
 'converge',
 'convict',
 'convicted',
 'convince',
 'convinced',
 'convinces',
 'cook',
 'cooking',
 'cool',
 ...]

In [ ]:
!pip install nltk
import nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
from nltk.stem.porter import PorterStemmer

In [ ]:
ps=PorterStemmer()

In [ ]:
def stem(text):
  y=[]
  
  for i in text.split():
    y.append(ps.stem(i))

  return " ".join(y)

In [ ]:
new_df['tags']= new_df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity


similarity = cosine_similarity(vector)

In [ ]:
similarity[0]

array([1.        , 0.06885304, 0.04948717, ..., 0.03142697, 0.05410018,
       0.        ])

In [ ]:
new_df[new_df['title'] == 'The Lego Movie'].index[0]

744

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, 0.9999999999999996),
 (2409, 0.4839354795704658),
 (1537, 0.4335521648830699),
 (3162, 0.43092978905128776),
 (838, 0.398216086792002),
 (4336, 0.39207842352784267),
 (2021, 0.38666666666666655),
 (373, 0.3829708431025352),
 (1920, 0.3736794931975309),
 (461, 0.3674234614174766),
 (2204, 0.3548262100581949),
 (1082, 0.34641016151377535),
 (278, 0.34020690871988585),
 (3538, 0.3395498750508661),
 (300, 0.33626912299068296),
 (305, 0.33525760367024254),
 (158, 0.32005290567945544),
 (1321, 0.31843917593777593),
 (507, 0.31840117830313935),
 (1715, 0.3175426480542941),
 (47, 0.3174301572974828),
 (3736, 0.31426968052735443),
 (4, 0.31035207097778317),
 (239, 0.3079201435678004),
 (149, 0.3077287274483318),
 (1355, 0.3036288461106358),
 (184, 0.3031088913245535),
 (2970, 0.30135960257289474),
 (582, 0.2933333333333332),
 (1071, 0.29328528800913556),
 (1357, 0.28807725655998323),
 (972, 0.2833333333333333),
 (260, 0.28323527714997326),
 (1204, 0.28323527714997326),
 (94, 0.2773500981126146),
 (539, 0.2773500981126145),
 (1216, 0.27650063180466544),
 (1957, 0.2752988806446741),
 (973, 0.27487370837451064),
 (502, 0.2742413778650722),
 (1765, 0.27212365213498446),
 (661, 0.2684624220856097),
 (1220, 0.2623156949355562),
 (541, 0.26222491255009456),
 (577, 0.2613098319673951),
 (74, 0.25980762113533157),
 (1344, 0.2587046667054218),
 (322, 0.2585572506271132),
 (95, 0.2570358257720839),
 (2971, 0.2550393009813292),
 (770, 0.25333333333333324),
 (692, 0.24930009553630056),
 (56, 0.24886840673530203),
 (1201, 0.24886840673530203),
 (52, 0.24743582965269667),
 (432, 0.24731360893412463),
 (1965, 0.2468365249354197),
 (581, 0.2467810788956497),
 (150, 0.24377011365784199),
 (549, 0.2385139175999775),
 (83, 0.23791547571544325),
 (2701, 0.23791547571544325),
 (595, 0.23333333333333334),
 (754, 0.22941573387056172),
 (4048, 0.22819305877276824),
 (1996, 0.22814073018881198),
 (3147, 0.22631157994440143),
 (1278, 0.2257105970747514),
 (270, 0.22549380840084865),
 (228, 0.22417941532712196),
 (3675, 0.22205444400108038),
 (557, 0.2179797043652264),
 (61, 0.2178324594548683),
 (1373, 0.2178324594548683),
 (1031, 0.2088931871468374),
 (3628, 0.2088931871468374),
 (4192, 0.20784609690826525),
 (773, 0.20739033894608502),
 (91, 0.20604887854797269),
 (3608, 0.20402454818026822),
 (787, 0.20272121351984576),
 (1329, 0.20211646105596454),
 (454, 0.202072594216369),
 (2547, 0.20051216473104122),
 (1656, 0.19999999999999993),
 (236, 0.19882696935448685),
 (778, 0.19882696935448685),
 (230, 0.1986798535597565),
 (1056, 0.19794866372215736),
 (27, 0.1972787847664287),
 (67, 0.19599157740244455),
 (1297, 0.19595917942265423),
 (141, 0.1951800145897066),
 (306, 0.1951800145897066),
 (1488, 0.19518001458970657),
 (1002, 0.19461345311993639),
 (1479, 0.19379255804998172),
 (342, 0.19055722693613233),
 (1322, 0.19033238057235458),
 (46, 0.18856180831641262),
 (643, 0.18856180831641262),
 (3409, 0.18727643676692465),
 (626, 0.18683974659876548),
 (1668, 0.18527342263463414),
 (2916, 0.18516401995451026),
 (1285, 0.1838509439481975),
 (111, 0.1825741858350553),
 (1496, 0.18187954468925666),
 (35, 0.1811643254631353),
 (4596, 0.1811643254631353),
 (1280, 0.18090680674665816),
 (3072, 0.18090680674665816),
 (41, 0.18039504672067896),
 (2333, 0.18039504672067896),
 (3218, 0.17566201313073593),
 (233, 0.17457431218879385),
 (680, 0.1744713488579917),
 (564, 0.17432038578211329),
 (87, 0.17407765595569782),
 (108, 0.17320508075688773),
 (2235, 0.1732050807568877),
 (4405, 0.1732050807568877),
 (1982, 0.17320508075688767),
 (1444, 0.1723280873710658),
 (1383, 0.17186756976946388),
 (1178, 0.17126976771553504),
 (222, 0.17106744068953988),
 (931, 0.1708484392354498),
 (942, 0.1708484392354498),
 (2865, 0.17056057308448833),
 (2450, 0.1702513061517497),
 (1396, 0.16973368495830107),
 (3188, 0.16973368495830107),
 (3431, 0.16854019432007686),
 (168, 0.16666666666666666),
 (740, 0.16536212616062237),
 (26, 0.16536212616062235),
 (36, 0.1649572197684645),
 (4343, 0.16413890689295377),
 (2003, 0.16397831834998455),
 (4114, 0.1632993161855452),
 (2787, 0.16329931618554516),
 (1275, 0.1623005342401378),
 (2938, 0.1623005342401378),
 (1109, 0.1621769708158766),
 (579, 0.16169041669088863),
 (3327, 0.1616580753730952),
 (855, 0.16131182652348858),
 (2515, 0.16035674514745463),
 (208, 0.15894388284780522),
 (1037, 0.15861031714362883),
 (3999, 0.15851878478024337),
 (889, 0.15842360687626786),
 (1083, 0.1571348402636772),
 (1928, 0.1571348402636772),
 (3630, 0.1571348402636772),
 (156, 0.15701620314577236),
 (2786, 0.15666989036012804),
 (3449, 0.15666989036012804),
 (2584, 0.15614401167176528),
 (2820, 0.15569978883230456),
 (4468, 0.15491933384829665),
 (2731, 0.1539600717839002),
 (1570, 0.15322617553657475),
 (401, 0.15322617553657472),
 (617, 0.15320646925708528),
 (1883, 0.15291057030852145),
 (249, 0.15275252316519464),
 (1466, 0.1527525231651946),
 (483, 0.1518652793203998),
 (1379, 0.15163507931514908),
 (2762, 0.1515873457919734),
 (3730, 0.15118578920369086),
 (1019, 0.15074151616205692),
 (5, 0.15032920560056579),
 (31, 0.15032920560056579),
 (223, 0.15),
 (3819, 0.15),
 (200, 0.14985372985307102),
 (800, 0.14985372985307102),
 (1649, 0.14985372985307102),
 (4545, 0.14969103983674978),
 (2022, 0.14907119849998596),
 (101, 0.14907119849998593),
 (3443, 0.14907119849998593),
 (939, 0.14855627054164147),
 (2439, 0.14855627054164147),
 (642, 0.14784425419091457),
 (628, 0.14770978917519925),
 (456, 0.14765433214708534),
 (2347, 0.14552137502179976),
 (466, 0.1451732372622595),
 (587, 0.14433756729740646),
 (4664, 0.14426714154678916),
 (1361, 0.14381849910133493),
 (2135, 0.14381849910133493),
 (2763, 0.14290535654155878),
 (2058, 0.14288690166235202),
 (232, 0.14253932901995967),
 (1097, 0.14253932901995964),
 (490, 0.1414213562373095),
 (2999, 0.1414213562373095),
 (4353, 0.1414213562373095),
 (365, 0.1411300658019085),
 (1658, 0.14070529413628968),
 (1446, 0.14012980994907412),
 (2059, 0.14012980994907412),
 (389, 0.13862065601673437),
 (505, 0.13862065601673437),
 (755, 0.13801311186847082),
 (169, 0.13787639750914224),
 (1741, 0.13776934403873287),
 (220, 0.13770607453181924),
 (1589, 0.13770607453181924),
 (2676, 0.13764944032233706),
 (495, 0.13662601021279464),
 (473, 0.13645764784420258),
 (1793, 0.13620104492139976),
 (301, 0.13617658132983804),
 (127, 0.136176581329838),
 (229, 0.136176581329838),
 (2556, 0.13608276348795434),
 (207, 0.1352962850405092),
 (279, 0.1352962850405092),
 (1831, 0.1352962850405092),
 (1756, 0.13474430737064302),
 (592, 0.13416407864998733),
 (1191, 0.1333333333333333),
 (1294, 0.1330598287718231),
 (3821, 0.13288211940534983),
 (2209, 0.13196577581477156),
 (2247, 0.13112201362143716),
 (1474, 0.13112201362143713),
 (7, 0.13093073414159542),
 (1445, 0.13074409009212268),
 (1161, 0.13063945294843615),
 (3959, 0.13063945294843615),
 (1721, 0.1294300457858868),
 (2169, 0.1294300457858868),
 (1194, 0.1293523333527109),
 (2543, 0.12909944487358055),
 (110, 0.12890067732709792),
 (2656, 0.12865350418053534),
 (14, 0.1281025230440697),
 (480, 0.1281025230440697),
 (70, 0.12780193008453872),
 (2902, 0.12751534261266764),
 (599, 0.12702146976599116),
 (18, 0.12701705922171763),
 (1560, 0.12688825371490306),
 (2239, 0.12688825371490306),
 (2940, 0.12674485010489556),
 (487, 0.12649110640673514),
 (1421, 0.12649110640673514),
 (2075, 0.12623374885344052),
 (1802, 0.12602520756252084),
 (3728, 0.1259881576697424),
 (3756, 0.1259673314595547),
 (1018, 0.12570787221094176),
 (1015, 0.12510864843424485),
 (2488, 0.12455983106584366),
 (2888, 0.1245504737559055),
 (785, 0.12379689211803455),
 (589, 0.12344267996967351),
 (3910, 0.12326312688558733),
 (362, 0.12326312688558731),
 (1411, 0.12309149097933272),
 (430, 0.1224744871391589),
 (2918, 0.12235505806429958),
 (2732, 0.1217161238900369),
 (1529, 0.12171612389003689),
 (1617, 0.12129568697262451),
 (422, 0.12060453783110545),
 (624, 0.12060453783110545),
 (529, 0.12049281521534183),
 (1938, 0.12026336448045262),
 (1498, 0.11999999999999997),
 (2284, 0.11925695879998875),
 (3572, 0.11925695879998875),
 (1092, 0.11917591430622479),
 (2620, 0.1188177051572009),
 (2990, 0.11881770515720089),
 (53, 0.11827540335273164),
 (568, 0.11790126894931263),
 (3291, 0.11790126894931263),
 (102, 0.11731769201708261),
 (2001, 0.11731769201708261),
 (1166, 0.11710800875382396),
 (2868, 0.11710800875382396),
 (72, 0.11666666666666665),
 (363, 0.11547005383792515),
 (1418, 0.11547005383792515),
 (1113, 0.11547005383792514),
 (4097, 0.11547005383792514),
 (371, 0.11547005383792511),
 (3464, 0.11457837984630925),
 (1293, 0.11389895949029985),
 (2789, 0.11389895949029985),
 (3615, 0.11377602479771484),
 (2133, 0.11370704872299221),
 (1089, 0.11338934190276814),
 (2323, 0.11322770341445956),
 (3721, 0.11322770341445956),
 (794, 0.11318329168362204),
 (2035, 0.11318329168362204),
 (3622, 0.11318329168362204),
 (1897, 0.1128552985373757),
 (3556, 0.1128552985373757),
 (4731, 0.11239029738980327),
 (3518, 0.11239029738980326),
 (311, 0.11208970766356098),
 (1700, 0.11208970766356097),
 (897, 0.11202240672224076),
 (1042, 0.11202240672224076),
 (2480, 0.11202240672224076),
 (2796, 0.11202240672224076),
 (2873, 0.11202240672224076),
 (3441, 0.11202240672224076),
 (4276, 0.11202240672224076),
 (17, 0.11120768749710652),
 (206, 0.11120768749710652),
 (420, 0.11120768749710652),
 (1171, 0.1111111111111111),
 (1774, 0.1111111111111111),
 (3663, 0.1111111111111111),
 (4473, 0.11111111111111109),
 (2713, 0.11102722200054019),
 (3354, 0.11102722200054019),
 (687, 0.11094003924504581),
 (3181, 0.11094003924504581),
 (1101, 0.11041048949477665),
 (419, 0.10999438818457404),
 (2072, 0.10999438818457404),
 (3008, 0.1095445115010332),
 (3159, 0.10910894511799615),
 (854, 0.1089898521826132),
 (1574, 0.10894095588038442),
 (1202, 0.10886621079036349),
 (997, 0.10886621079036346),
 (2880, 0.10886621079036346),
 (3905, 0.10886621079036346),
 (4010, 0.10886621079036346),
 (980, 0.10820035616009187),
 (400, 0.10820035616009185),
 (3022, 0.10811798054391775),
 (215, 0.10811798054391773),
 (4181, 0.10801234497346432),
 (4316, 0.10801234497346432),
 (3212, 0.10787197799411871),
 (660, 0.10721125348377947),
 (3378, 0.10721125348377947),
 (2456, 0.10721125348377945),
 (3498, 0.10706067580626215),
 (275, 0.10690449676496974),
 (404, 0.10690449676496974),
 (1929, 0.10690449676496974),
 (2433, 0.10690449676496974),
 (412, 0.10613372610104645),
 (413, 0.10613372610104645),
 (1098, 0.10613372610104645),
 (1512, 0.10613372610104645),
 (4154, 0.10613372610104645),
 (4512, 0.10613372610104645),
 (253, 0.10596258856520348),
 (4165, 0.10596258856520348),
 (3102, 0.10565410875907486),
 (330, 0.10565410875907484),
 (843, 0.10565410875907484),
 (1501, 0.10540925533894595),
 (2506, 0.10540925533894595),
 (1808, 0.10523044392039604),
 (1039, 0.1044465935734187),
 (4602, 0.1044465935734187),
 (10, 0.10444659357341869),
 (524, 0.10444659357341869),
 (812, 0.10444659357341868),
 (16, 0.10434983894999016),
 (2760, 0.10434983894999016),
 (107, 0.10393116839386093),
 (1639, 0.10393116839386093),
 (1942, 0.10369516947304251),
 (3195, 0.10369516947304251),
 (3376, 0.10369516947304251),
 (813, 0.10349097793364019),
 (271, 0.10327955589886444),
 (633, 0.10327955589886444),
 (1673, 0.10327955589886444),
 (4333, 0.10327955589886444),
 (174, 0.1026529805149473),
 (635, 0.10265298051494728),
 (329, 0.10215078369104982),
 (1324, 0.10215078369104982),
 (1524, 0.10206207261596573),
 (2291, 0.10141851056742197),
 (312, 0.10105823052798227),
 (666, 0.10105823052798227),
 (3537, 0.10105823052798227),
 (790, 0.10103629710818449),
 (1467, 0.10103629710818449),
 (4348, 0.10079052613579391),
 (320, 0.1005037815259212),
 (1274, 0.1005037815259212),
 (2634, 0.1005037815259212),
 (784, 0.1002560823655206),
 (870, 0.1002560823655206),
 (4100, 0.1002560823655206),
 (586, 0.1001958865736239),
 (147, 0.1),
 (334, 0.1),
 (2528, 0.09999999999999999),
 (3400, 0.09999999999999999),
 (2054, 0.09949366763261819),
 (2901, 0.09949366763261819),
 (238, 0.09903751369442765),
 (256, 0.09901475429766741),
 (1047, 0.09901475429766741),
 (1158, 0.09901475429766741),
 (1833, 0.09901475429766741),
 (2496, 0.09901475429766741),
 (3810, 0.0990147542976674),
 (1824, 0.09897433186107868),
 (3314, 0.09897433186107868),
 (185, 0.09897433186107867),
 (3309, 0.09897433186107867),
 (3414, 0.09874838622020374),
 (571, 0.09847319278346617),
 (2178, 0.09847319278346617),
 (4368, 0.09847319278346617),
 (531, 0.09801960588196067),
 (1277, 0.09801960588196065),
 (2498, 0.09801960588196065),
 (3755, 0.09797958971132711),
 (123, 0.09791840981793672),
 (166, 0.0975900072948533),
 (878, 0.0975900072948533),
 (2120, 0.0975900072948533),
 (3289, 0.0975900072948533),
 (3770, 0.0975900072948533),
 (4490, 0.0975900072948533),
 (39, 0.09701425001453318),
 (988, 0.09701425001453318),
 (3037, 0.09701425001453318),
 (2448, 0.0968495996958186),
 (1677, 0.09660917830792956),
 (151, 0.0962250448649376),
 (3235, 0.0962250448649376),
 (1439, 0.09607689228305227),
 (462, 0.09578949441427993),
 (4178, 0.09578949441427993),
 (1898, 0.09525793444156802),
 (535, 0.0951661902861773),
 (2264, 0.0951661902861773),
 (4230, 0.0951661902861773),
 (704, 0.09516619028617729),
 (823, 0.09516619028617729),
 (4600, 0.09516619028617729),
 (1306, 0.09491579957524988),
 (2718, 0.09491579957524988),
 (4000, 0.09491579957524988),
 (459, 0.09491579957524987),
 (418, 0.09428090415820634),
 (1565, 0.09428090415820632),
 (2696, 0.09428090415820632),
 (2158, 0.09365858115816939),
 (2396, 0.09365858115816939),
 (814, 0.09341987329938274),
 (1195, 0.09341987329938274),
 (1531, 0.09341987329938274),
 (1623, 0.09341987329938274),
 (1749, 0.09341987329938274),
 (1823, 0.09341987329938274),
 (809, 0.09333333333333331),
 (3201, 0.09331389496316868),
 (333, 0.09271726499455303),
 (1516, 0.09271726499455303),
 (2834, 0.09271726499455303),
 (585, 0.09258200997725513),
 (4325, 0.09258200997725513),
 (4694, 0.09258200997725513),
 (4006, 0.09245003270420485),
 (4650, 0.09245003270420485),
 (1288, 0.09237604307034011),
 (3954, 0.09237604307034011),
 (246, 0.09152086306448586),
 (86, 0.09128709291752767),
 (105, 0.09128709291752767),
 (131, 0.09128709291752767),
 (764, 0.09128709291752767),
 (2378, 0.09128709291752767),
 (4657, 0.09128709291752767),
 (43, 0.09097176522946838),
 (2898, 0.09097176522946838),
 (3909, 0.09097176522946838),
 (1005, 0.09058216273156765),
 (1327, 0.09058216273156765),
 (2644, 0.09019752336033947),
 (2968, 0.09019752336033947),
 (3066, 0.09019752336033947),
 (862, 0.09019752336033945),
 (775, 0.09016696346674322),
 (1312, 0.09016696346674322),
 (48, 0.08944271909999156),
 (4045, 0.08944271909999156),
 (4249, 0.08944271909999156),
 (51, 0.08926073982886733),
 (2583, 0.0890870806374748),
 (3710, 0.0890870806374748),
 (138, 0.08908708063747478),
 (1114, 0.08908708063747478),
 (4654, 0.08888888888888888),
 (30, 0.08870655251454873),
 (982, 0.08870655251454873),
 (1832, 0.08870655251454873),
 (307, 0.08848020217749294),
 (112, 0.08804509063256238),
 (2471, 0.08804509063256238),
 (3542, 0.08804509063256238),
 (632, 0.08804509063256237),
 (2093, 0.08804509063256237),
 (2636, 0.08804509063256237),
 (476, 0.08728715609439693),
 (808, 0.08728715609439693),
 (3709, 0.08728715609439693),
 (4198, 0.08728715609439693),
 (4206, 0.08728715609439693),
 (853, 0.08703882797784893),
 (3764, 0.08703882797784893),
 (37, 0.08703882797784891),
 (187, 0.08703882797784891),
 (203, 0.08703882797784891),
 (2686, 0.08703882797784891),
 (1908, 0.08665782448262419),
 (3607, 0.08665782448262419),
 (103, 0.08660254037844387),
 (1233, 0.08660254037844387),
 (1828, 0.08660254037844387),
 (728, 0.08660254037844385),
 (1534, 0.08660254037844385),
 (2511, 0.08660254037844385),
 (2914, 0.08660254037844385),
 (3390, 0.08660254037844385),
 (196, 0.08606629658238703),
 (793, 0.08606629658238703),
 (512, 0.08606629658238701),
 (627, 0.08606629658238701),
 (129, 0.08593378488473194),
 (1340, 0.08593378488473194),
 (1575, 0.08576900278702357),
 (1747, 0.08576900278702357),
 (2579, 0.08576900278702357),
 (3674, 0.08576900278702357),
 (4018, 0.08576900278702357),
 (4611, 0.08576900278702357),
 (84, 0.08567860859069464),
 (1299, 0.08528028654224416),
 (556, 0.08512565307587486),
 (941, 0.08512565307587486),
 (82, 0.08512565307587484),
 (752, 0.08512565307587484),
 (859, 0.08512565307587484),
 (1096, 0.08512565307587484),
 (1465, 0.08512565307587484),
 (3028, 0.08512565307587484),
 (4673, 0.08512565307587484),
 (1858, 0.08464147390303178),
 (1262, 0.08432740427115676),
 (2017, 0.08432740427115676),
 (2114, 0.08432740427115676),
 (2270, 0.08432740427115676),
 (2660, 0.08432740427115676),
 (898, 0.08421519210665189),
 (1011, 0.08421519210665189),
 (2243, 0.08421519210665189),
 (4640, 0.08421519210665189),
 (677, 0.08401680504168058),
 (532, 0.08397822097303646),
 (1497, 0.08340576562282989),
 (2023, 0.08340576562282989),
 (304, 0.08336878678455789),
 (172, 0.08333333333333334),
 (227, 0.08333333333333333),
 (266, 0.08333333333333333),
 (332, 0.08333333333333333),
 (510, 0.08333333333333333),
 (900, 0.08333333333333333),
 (1473, 0.08333333333333333),
 (4079, 0.08333333333333333),
 (1521, 0.08295613557843401),
 (3769, 0.08295613557843401),
 (4256, 0.08295613557843401),
 (145, 0.08292884288627292),
 (768, 0.08280786712108248),
 (1022, 0.08280786712108248),
 (1414, 0.08280786712108248),
 (2392, 0.08280786712108248),
 (508, 0.08247860988423222),
 (1945, 0.08247860988423222),
 (4205, 0.08247860988423222),
 (1030, 0.08206945344647688),
 (1034, 0.0816496580927726),
 (1086, 0.0816496580927726),
 (1207, 0.0816496580927726),
 (1301, 0.0816496580927726),
 (1614, 0.0816496580927726),
 (2250, 0.0816496580927726),
 (2577, 0.0816496580927726),
 (2856, 0.0816496580927726),
 (3389, 0.0816496580927726),
 (81, 0.08164965809277258),
 (267, 0.08164965809277258),
 (2311, 0.08164965809277258),
 (3716, 0.08164965809277258),
 (4355, 0.08164965809277258),
 (4485, 0.08164965809277258),
 (4636, 0.08164965809277258),
 (1426, 0.0810884854079383),
 (3407, 0.08084520834544431),
 (607, 0.08053872662568291),
 (1678, 0.08053872662568291),
 (2591, 0.08053872662568291),
 (920, 0.08040302522073696),
 (935, 0.08040302522073696),
 (1242, 0.08040302522073696),
 (2053, 0.08040302522073696),
 (2259, 0.08040302522073696),
 (4236, 0.08040302522073696),
 (844, 0.08006407690254355),
 (1020, 0.08006407690254355),
 (1596, 0.08006407690254355),
 (1790, 0.08006407690254355),
 (2542, 0.08006407690254355),
 (199, 0.07999999999999999),
 (125, 0.07950463919999251),
 (2388, 0.07947194142390261),
 (4587, 0.07947194142390261),
 (4597, 0.07947194142390261),
 (893, 0.0794719414239026),
 (68, 0.07930515857181442),
 (908, 0.07930515857181442),
 (1701, 0.07930515857181442),
 (2163, 0.07930515857181442),
 (2596, 0.07930515857181442),
 (2831, 0.07930515857181442),
 (122, 0.07921180343813393),
 (653, 0.07921180343813393),
 (1010, 0.07921180343813393),
 (1434, 0.07921180343813393),
 (3093, 0.07921180343813393),
 (3365, 0.07921180343813393),
 (3661, 0.07921180343813393),
 (2386, 0.07863570994927847),
 (97, 0.0785674201318386),
 (1452, 0.07844645405527359),
 (2822, 0.07844645405527359),
 (33, 0.07807200583588264),
 (368, 0.07807200583588264),
 (618, 0.07794837629539571),
 (610, 0.0779483762953957),
 (536, 0.07784989441615228),
 (575, 0.07784989441615228),
 (4451, 0.07784989441615228),
 (491, 0.07745966692414832),
 (2297, 0.07745966692414832),
 (933, 0.07715167498104594),
 (2802, 0.07715167498104594),
 (4280, 0.07715167498104594),
 (134, 0.07698003589195009),
 (1073, 0.07698003589195009),
 (3109, 0.07698003589195009),
 (3839, 0.07698003589195009),
 (4148, 0.07698003589195009),
 (2758, 0.07650920556760057),
 (3344, 0.07650920556760057),
 (1273, 0.07647191129018725),
 (3206, 0.07647191129018725),
 (360, 0.07604691006293733),
 (294, 0.0759326396601999),
 (960, 0.0759326396601999),
 (1138, 0.0759326396601999),
 (1351, 0.0759326396601999),
 (1556, 0.0759326396601999),
 (3935, 0.0759326396601999),
 (4259, 0.0759326396601999),
 (4331, 0.0759326396601999),

In [ ]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])

    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Avatar')

Aliens
Moonraker
Alien
AlienÂ³
Silent Running

In [ ]:
import pickle

In [ ]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [ ]:
new_df['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4804                                 El Mariachi
4805                                   Newlyweds
4806                   Signed, Sealed, Delivered
4807                            Shanghai Calling
4808                           My Date with Drew
Name: title, Length: 4806, dtype: object

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))